html {
    background-color:#f1def4;
    border-style: solid;
    border-color: #ffffff;
    border-width: 50px;
    

  }
main {
    grid-auto-rows:min-content;
    grid-gap:2rem;
    width: 80vw;
    margin: 0 auto;
  }


@font-face { font-family: florencesans; src: url('../fonts/florencesans/Florsn02.ttf'); } 
@font-face { font-family: lane; src: url('../fonts/lane/LANECANE.ttf'); } 
@font-face { font-family: raspoutine; src: url('../fonts/raspoutine/RaspoutineClassic_TB.otf'); } 


h1 {
   font-family: florencesans;
   font-weight: bolder;
   font-size: 120px;
   letter-spacing: 1px;
   text-align: center;
   color:#fef7ac;
}

h2 {
    font-family: raspoutine;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

a {
    color: #9654f6;
    text-decoration: none;
}

li {
    font-family: lane;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: normal;
    margin: 5px;
    color: #9654f6;
}

li:hover {
    text-decoration: underline;
}



div {
    background-color: purple;
    background-image: linear-gradient(to right, #9c8ff2 , #e291c7, #9c8ff2);
    width: 900px;
    padding: 30px;
    border-radius: 65px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.quote:hover {
    background-color: purple;
    background-image: linear-gradient(to right, #9451f6 , #ff81ce, #9451f6);
    width: 900px;
    padding: 30px;
    border-radius: 65px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
