html {
	background: white;
}

main {
  grid-auto-rows:min-content;
  grid-gap:2rem;
  width: 60vw;
  margin: 0 auto;
  padding-top: 30px;
}

h1{
  font-family: 'News Cycle';
   margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight:600;
  letter-spacing: 7px;
  color: black;
  line-height: 60px;

}

h2{
  font-family: 'News Cycle';
  font-weight: lighter;
}

h3 {
  font-family: 'News Cycle';
  font-weight: lighter;
}

a {
  font-family: 'News Cycle';
  font-weight: lighter;
  text-decoration: none;
  color: black;
}



li {
  font-size: 20px;
  font-family: 'News Cycle', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
  color: black;
}

li:hover{
  text-decoration: underline;
}

.responsive {
  width: auto;
  max-width: 600px;
  height: auto;
}

/* target only screens up to 768px */
@media only screen and (max-width: 768px){


  .responsive {
    width: auto;
    max-width: 400px;
    height: auto;
  }

