
body{
    width: 80vw;
    margin: 0 auto;
    background-color:#ee9972;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    text-align: center;
    color: #f05f4a;
    
}


span:hover {
   color:#cc1b25;
   font-size: 11vw;
}
