

body{
    width: 80vw;
    margin: 0 auto;
    background-color: #b4d68c;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    text-align: center;
    overflow: hidden;
}




  .old-text,
  .new-text {
    display: block;
    overflow: hidden;
  }
  .old-text {
    height: auto;
    opacity: 1;
    width: auto;
    color: #0c9eb5;
  }
  .new-text {
    color: #ce4396;
    height: 0;
    opacity: 0;
    width: 0;
  }
  .div:hover .old-text {
    height: 0px;
    opacity: 0;
    width: 0px;
  }
  .div:hover .new-text {
    height: auto;
    opacity: 1;
    width: auto;
  }