body {
  background-color: rgb(238, 200, 176);
  width: 100%;
}

.container {
  position: absolute;
}

.tablecloth {
  z-index: -1;
  position: absolute;
  display: block;
  width: 99vw;
  height: 98vh;
  left: 0;
  right: 0;
}

.fork {
  z-index: 2;
  position: absolute;
  width: 600px;
  top: 200px;
  left: 80px;
}

.cup {
  z-index: 3;
  position: absolute;
  width: 700px;
  left: 900px;
}

.plate {
  z-index: 3;
  position: absolute;
  width: 600px;
  top: 230px;
  left: 520px;
}

.cookie {
  display: none;
  position: absolute;
  top: 550px;
  left: 650px;
  z-index: 10;
  width: 250px;
}

.croissant {
  display: none;
  position: absolute;
  top: 250px;
  left: 600px;
  z-index: 10;
  width: 550px;
}

button {
  position: absolute;
  z-index: 999;
  top: 180px;
  left: 320px;
}