* {
    margin: 0;
    padding: 0;
  }

  .outer {
    z-index: 1;
    position: absolute;
    width: 100vh;
    height: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
  }
  .slide {
    z-index: 1;
    height: 1000px;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  ::-webkit-scrollbar {
    display:none;
  }

.image {
    z-index: 3;
    padding: 30px;
    position: absolute;
    opacity: 80%;
    margin-left: 1565px ;
}
  
h1 {
    z-index: 2;
    padding: 20px;
    font-size: 40px;
    opacity: 80%;
    position:absolute;
    color:white;
    font-family: Fugaz One;
}
h3 {
    font-size: 20px;
    font-weight: lighter;
}

p {
    color: rgb(112, 112, 112);
}

.chiflow {
  width: 700px;
  flex-shrink: 0;
  height: 100%;
}
.image:hover {
    cursor: pointer;
}



/* The Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 4; 
    padding-top: 50px;
    padding-bottom: 505px;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 80%;
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 60%;
  }
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
  }
  
  .body-t {
    font-family:  Hind Vadodara;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
    margin: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
}