body {
    background-color:blanchedalmond;
    width: 100%;
  
  }
  .container {
    position: relative;
    margin: 80px auto;
    height: 400px;
    width: 90%;
  }

.ferocon, .plate {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  
  .tablecloth {
     width: 1100px;
  }
  .plate, .plate {
    z-index: 10;
  }
  
  .ferralet_90 {
    z-index: 8;
    width: 150px;
  }
  
  .plate {
    height: 150px;
    width: 150px;
  }

.croissant{
  width: 300px;
}
