* {transform-origin:center!important;
    box-sizing: border-box;}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.basic {
  font-family: Work Sans;
  font-size: 14px;
  left: 20px;
  top: 23px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name{
    align-items: flex-start;
}
.menu {
    position: relative;
    align-items: flex-end;
    margin-right: 20px;
}



h1 {
    color: rgb(0, 0, 255);
    font-size: 40px;
    font-family: shrikhand;
}
h2{
    font-family: Work Sans;
    color: rgb(255, 255, 255);
}
.menu h2:hover{
    text-decoration: overline;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 255);
}
h3{
    font-family: Work Sans;
    color: rgb(255, 255, 255);
}
p {
    font-family: Work Sans;
    color: rgb(0, 0, 255);
    text-align: center;
}

.title h2:hover{
    text-decoration: overline;
}





    .flexbox {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }

    @supports (display: grid) {
        .flexbox {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 2rem;
        }
    }

    .box figure {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 30% 0;
        cursor: pointer;
    }

    .box figure::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 255);
        content: '';
    }

    .box img {
      padding: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    .container {
        position: relative;
      }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(0, 0, 255);
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .title {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }



      @media screen and (max-width: 768px) {
        body{
              background-color: white;
        }
        
        .basic {
        font-family: Work Sans;
        position: relative;
        line-height: 40px;
        font-size: 16px;
        left: 20px;
        top: 23px;
      
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .name{
          align-items: flex-start;
      }
      .menu {
          position: relative;
          align-items: flex-end;
          margin-right: 20px;
          line-height: 20px;
      }
      }


