body {
    background-color:rgb(0, 0, 255);
    background-size: cover;
}

.basic {
  font-family: Work Sans;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}
.menu {
    margin-left: 1200px;
    margin-top: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: shrikhand;
}
h2{
    color: rgb(255, 255, 255);
}
h2:hover{
    text-decoration: underline;
}
li{
    color: rgb(255, 255, 255);
}
li:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info {
    margin-left: 10vw;
    color: white;
}

.info h2{
    text-decoration: none;
}
.info a{
    font-size: 16px;
    font-family: Work Sans;
}
.info a:hover{
    text-decoration: underline;
}
h3{
    font-size: 16px;
    font-family: Work Sans;
}