body {
    background-color:rgb(0, 0, 255);
    background-size: cover;
}

.basic {
  font-family: Work Sans;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 23px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name{
    align-items: flex-start;
}
.menu {
    position: relative;
    align-items: flex-end;
    margin-right: 20px;
}






h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: shrikhand;
}
h2{
    color: rgb(255, 255, 255);
}
h2:hover{
    text-decoration: overline;
}
li{
    color: rgb(255, 255, 255);
}

.link a:hover{
    text-decoration: overline;
}
li:hover{
    text-decoration: overline;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.info {
    margin-left: 10vw;
    color: white;
}

.info h2{
    text-decoration: none;
}
.info a{
    font-size: 16px;
    font-family: Work Sans;
}
.info a:hover{
    text-decoration: overline;
}
h3{
    font-size: 16px;
    font-family: Work Sans;
}


@media screen and (max-width: 768px) {
    *{
        overflow-y: hidden;
        overflow-x: hidden;

    }
    
    .basic {
        font-family: Work Sans;
        position: absolute;
        line-height: 40px;
        font-size: 16px;
        left: 20px;
        top: 23px;
      
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .name{
          align-items: flex-start;
      }
      .menu {
          position: relative;
          align-items: flex-end;
          margin-right: 20px;
          line-height: 20px;
      }

      .info {
        color: white;
        margin-top: 5vh;
        margin-right: 35px;
    }
    .info h2{
        text-decoration: none;
    }
    .info a{
        font-size: 16px;
        font-family: Work Sans;
    }
    .info a:hover{
        text-decoration: overline;
    }  
}