body {   
    display: flex;   
    align-items: center;   
    background-color: #000;
}

.container {    
    margin-top: 10px;
    display: flex;    
    overflow-x: auto;
}

.container img {    
    margin-right: 5px;
    height: 850px;
    width: 900px;
}

/*.container::-webkit-scrollbar {    
    display: none;
}