body {
    background-image: url('https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80');
    -webkit-animation: backgroundScroll 900s linear infinite;
    animation: backgroundScroll 900s linear infinite;
  }
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 4000px 0;
    }
  }

  div.welcome {
    filter: drop-shadow(15px 15px 3px rgba(0, 0, 0, 0.75));
    -webkit-filter: drop-shadow(15px 15px 3px rgba(0, 0, 0, 0.75));
  }

  /*img*/
.img-w1{float:right;}
.img-w2{float:left;border-bottom:15px solid rgba(228,25,79,0.91);}
.img-w3{float:right;border:15px dashed rgba(219,18,243,0.17);vertical-align:super;}
.img-w4{float:left;vertical-align:text-bottom;}
.img-w5{float:none;}
.img-w6{float:left;vertical-align:top;}
.img-w7{float:none;vertical-align:text-bottom;}
.img-w8{float:right;}

/*txt*/
.txt-y1{float:left;text-align:justify;font-size:17px;font-family:sans-serif;color:aqua;text-decoration:underline;clear:none;}
.txt-y2{float:left;text-align:justify;font-size:17px;font-family:cursive;color:lime;text-decoration:line-through;text-shadow:4px 26px 8px red;clear:right;}
.txt-y3{float:right;text-align:left;font-size:17px;font-family:sans-serif;color:green;text-decoration:blink;text-shadow:21px 25px 8px purple;clear:both;}
.txt-y4{float:right;text-align:justify;font-size:10px;font-family:monospace;color:purple;text-decoration:underline;border-bottom:5px solid rgba(243,90,212,0.5);clear:left;}
