
body{
    width: 80vw;
    margin: 0 auto;
    background-color:#74abae;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    text-align: center;
    color: #ccd5c4;
    
}

.text:hover{
    color: transparent;
    text-shadow: 0 0 15px #ccd5c47e;
}

span:hover {
   color:#ccd5c4;
}


